/* Portrait */
#about-portrait {
    width: 40%;
}
#portrait {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    filter: saturate(0%) contrast(130%);
    -webkit-filter: saturate(0%) contrast(130%);
    -moz-filter: saturate(0%) contrast(130%);

    max-width: 80%;
    max-height: 80%;
}

/* Intro text */
#about-intro {
    border-left: 2px solid var(--color-accent);
    width: 60%;
}

/* Downloads area */
.flex-container > .about-download {
    padding-top: 0;
    vertical-align: top;
    align-items: center;
    min-width: 33.33%;
}

/* Download previews */
.download-preview-container {
    transition: border 0.5s ease;
    border: 2px solid var(--color-surface);
    margin-bottom: 2em;
}
.download-preview {
    position: relative;
    display: block;
}
.download-preview:hover > img {
    opacity: 1;
}
.download-preview:hover > .preview-overlay {
    opacity: 0;
}
.download-preview > img {
    position: relative;
    max-width: 100%;
    display: block;
    opacity: 0.25;
}
.download-preview > * {
    transition: opacity 0.2s ease;
}
.preview-overlay {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: var(--color-text-primary);
}
.preview-overlay > p {
    margin: 0 auto;
    line-height: 100%;
    font-size: 2em;
}