/*
 * || GENERAL STYLES
 */

/* Global variables */
:root {
    --content-max-width: 1140px;
}

/* Global styles */
* {
    transition: background-color 0.5s ease;

    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-weight: normal;
    font-style: normal;
}
html,
body {
    height: 100%;
}
body {
    flex-direction: column;

    display: flex;

    background-color: var(--color-background);

    font-family: "Jost", sans-serif;
    color: var(--color-text-primary);
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    transition: color 0.5s ease;

    margin-top: 1em;

    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
}
h1 {
    font-size: 3em;
}

/* Body text */
p {
    transition: color 0.5s ease;

    margin-top: 0.8em;
    margin-bottom: 0.8em;

    font-size: 1.1em;
}
a {
    font-size: 1.1em;
}
a:link,
a:visited {
    color: var(--color-text-secondary);
}
a,
i {
    transition: color 0.5s ease;
}

/* Other HTML tags */
main {
    flex: 1 0 auto;

    overflow: auto;

    margin: auto;
    margin-top: 5em;
    max-width: var(--content-max-width);
    width: 100%;
}
hr {
    margin: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    border: none;
    width: 75%;
    height: 1px;

    background-color: var(--color-text-tertiary);
}
figcaption {
    margin-top: 1em;
    font-size: 1em;
    font-family: "Space Mono", monospace;
    font-style: italic;
    color: var(--color-text-secondary);
    text-align: center;
}
footer {
    margin-top: 2em;
    padding: 1em;

    background-color: var(--color-surface);

    text-align: center;
}


/*
 * || SITEWIDE CLASSES
 */


/* Text style */
.text-bold {
    font-weight: bold;
}
.text-underline {
    text-decoration: underline;
}

/* Top navigation structure */
.topnav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: var(--color-nav);
    height: 3em;
    width: 100%;
    z-index: 100;
}
.topnav-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: var(--content-max-width);
}
.topnav-left {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-right: auto;
}
.topnav-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    color: var(--color-text-primary);
}

/* Top navigation elements */
.topnav-button {
    height: 100%;
    padding-left: 0.75em;
    padding-right: 0.75em;
}
a.topnav-link {
    transition: color 0.1s;
    color: var(--color-text-secondary);
    text-decoration: none;
}
a.topnav-link:hover {
    transition: color 0.1s;
    color: var(--color-accent);
}
.topnav-active,
.topnav-active:visited {
    color: var(--color-accent);
}
#topnav-logo {
    color: var(--color-accent);
    padding-left: 0.75em;
    font-size: 2em;
}
.theme-toggle-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    float: right;
    font-size: 2em;
    color: var(--color-text-primary);
}

/* Content container */
.flex-container {
    display: flex;
    flex-direction: row;
}
.flex-container > div {
    position: relative;
    padding: 2.5em;
}

/* Social media icons */
.social-icons {
    margin-top: 16px;
    margin-bottom: 16px;
}
.social-icons > *:not(:last-child) {
    margin-right: 4px;
}
.social-icon {
    position: relative;
    display: inline-block;
    font-size: 4em;
    text-decoration: none;
}
.social-container {
    position: relative;
    display: inline-block;
}
/* Certain logo colors are set in the dark/light theme stylesheets */
#social-container-linkedin {
    color: #0077b5;
}
#social-container-itch {
    color: #fa5c5c;
}
.social-logo {
    position: absolute;
    top: 31%;
    left: 30%;
    font-size: 40%;
}
.icon-logo-linkedin,
.icon-logo-itch {
    color: #ffffff;
}
/* Logo locations/sizes adjusted for visual balance */
.icon-logo-linkedin {
    top: 30%;
}
.icon-logo-handshake {
    left: 29%;
}
.icon-logo-github {
    top: 29%;
    left: 27.5%;
    font-size: 45%;
}

/* Download buttons */
.button-download {
    transition: background-color 0.1s, color 0.1s;
    padding: 1em;

    border: 2px solid var(--color-accent);
    background-color: none;
    cursor: pointer;

    font-family: "Jost", sans-serif;
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
    color: var(--color-accent) !important;
}
.button-download:hover {
    transition: background-color 0.1s, color 0.1s;
    background-color: var(--color-accent);
    color: var(--color-background) !important;
}
.main-download {
    display: block;
    margin: 0 auto;
    text-align: center;
}

/* Footer */
.footer-credits {
    transition: color 0.5s ease;
    margin-top: 1.2em;

    font-size: 1em;
    font-family: "Jost", sans-serif;
}
.footer-color {
    font-size: 1.2em;
}
#color1 {
    color: var(--color-accent);
}
#color2 {
    color: var(--color-text-primary);
}
#color3 {
    color: var(--color-text-secondary);
}
#color4 {
    color: var(--color-text-tertiary);
}
#color5 {
    color: var(--color-background);
    text-shadow: 2px 0 0 var(--color-text-tertiary),
        0 -2px 0 var(--color-text-tertiary), 0 2px 0 var(--color-text-tertiary),
        -2px 0 0 var(--color-text-tertiary);
}
#color6 {
    color: var(--color-surface);
    text-shadow: 2px 0 0 var(--color-text-tertiary),
        0 -2px 0 var(--color-text-tertiary), 0 2px 0 var(--color-text-tertiary),
        -2px 0 0 var(--color-text-tertiary);
}