h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

h1 {
    text-align: center;
    margin: 32px;
}

body {
    font-family: 'Space Mono', monospace;
    transition-duration: 0.5s;
}

button:focus {
    outline: none;
}

.theme-toggle {
    display: inline-block;
    top: 0;
    right: 0;
    position: absolute;
    background-color: #ffffff00;
    border: none;
    cursor: pointer;
    font-size: 48px;
    width: 64px;
    height: 64px;
    padding: 0px;
}

.content {
    margin: auto;
    width: 50%;
}

.social-icons {
    margin-top: 16px;
    margin-bottom: 16px;
}

.icon-social {
    text-decoration: none;
    font-size: 56px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 16px;
}

.footer-credits {
    margin-top: 16px;

    font-size: 11pt;
    font-family: 'Roboto Condensed', sans-serif;
}