:root {
    color-scheme: light;

    --color-accent: #b7850b;
    --color-text-primary: #181818;
    --color-text-secondary: #4e4e4e;
    --color-text-tertiary: #acacac;
    --color-background: #ffffff;
    --color-surface: #f2f2f2;
    --color-nav: #f2f2f2;
}

#social-container-github {
    color: #292d32;
}
.icon-logo-github {
    color: #ffffff;
}
#social-container-handshake {
    color: #052326;
}
.icon-logo-handshake {
    color: #d3fb52;
}