body {
    background-color: #FFFFFF;
    color: #000000;
    transition-duration: 0.5s;
}

a:link, a:visited {
    color: #404040;
}

.theme-toggle {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

a.icon-social, a.icon-social:visited {
    color: #ffbf00;
}

footer {
    background-color: #f2f2f2;
}