body {
    background-color: #000000;
    color: #FFFFFF;
    transition-duration: 0.5s;
}

a:link, a:visited {
    color: #ffbf00;
}

.theme-toggle {
    color: #ffffff;
}

.social-icon {
    color: #ffbf00;
}

footer {
    background-color: #1D1D1D;
}