body {
    background-color: #000000;
    color: #FFFFFF;
}

a:link, a:visited {
    color: #acacac;
}

.theme-toggle {
    color: #ffffff;
}

a.icon-social, a.icon-social:visited {
    color: #ffbf00;
}

footer {
    background-color: #1D1D1D;
}