:root {
    color-scheme: light;
    
    --color-accent: #c11051;
    --color-text-primary: #000000;
    --color-text-secondary: #404040;
    --color-text-tertiary: #c7c7c7;
    --color-background: #ffffff;
    --color-surface: #f2f2f2;
}

.theme-toggle {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}