@font-face {
  font-family: 'smumbo-icons';
  src:  url('fonts/smumbo-icons.eot?yfgak5');
  src:  url('fonts/smumbo-icons.eot?yfgak5#iefix') format('embedded-opentype'),
    url('fonts/smumbo-icons.ttf?yfgak5') format('truetype'),
    url('fonts/smumbo-icons.woff?yfgak5') format('woff'),
    url('fonts/smumbo-icons.svg?yfgak5#smumbo-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'smumbo-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo-linkedin:before {
  content: "\e909";
}
.icon-logo-github:before {
  content: "\e90a";
}
.icon-logo-handshake:before {
  content: "\e90b";
}
.icon-logo-itch:before {
  content: "\e90c";
}
.icon-contact-email:before {
  content: "\e900";
}
.icon-contact-link:before {
  content: "\e901";
}
.icon-contact-linkedin:before {
  content: "\e902";
}
.icon-contact-phone:before {
  content: "\e903";
}
.icon-diamond-black:before {
  content: "\e904";
}
.icon-diamond-fill:before {
  content: "\e905";
}
.icon-diamond-white:before {
  content: "\e906";
}
.icon-download:before {
  content: "\e907";
}
.icon-theme-toggle:before {
  content: "\e908";
}
